@import "../../styles/properties";

@mixin mixinButton {
  @include initByCustom('padding', 0);

  @include flexInlineCenter;
  box-sizing: border-box;
  position: relative;

  padding: 0;

  min-width: var(--sys-height, 0);

  text-decoration: none;

  border: none;
  cursor: pointer;

  @include hover {
    text-decoration: none;
  }

  @include focus {
    outline: none;
  }

  @include disabled {
    cursor: default;
  }

  @include readonly {
    cursor: default;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;

    order: 4;
    @include paddingX(v('??padding'));
    transition: opacity #{v('d.sys.transitionDuration.standard')} linear;
  }

  &__paddingSpacer {
    display: none;
    order: 0;
  }

  &__paddingSpacer ~ &__paddingSpacer {
    order: 24;
  }

  &__icon,
  &__trailing {
    @include initByCustom('margin', #{calc((var(--sys-height) - v('?icon._width')) / 2)});
    @include marginLeft(v('??margin'));
    @include marginRight(v('??margin'));
  }

  &__label ~ &__paddingSpacer {
    display: initial;
  }

  &__label ~ &__icon {
    @include marginRight(#{calc(v('??margin') - v('??padding'))});
  }

  &__label ~ &__icon ~ &__paddingSpacer:not(:last-child) {
    // display: none;
  }

  &__label ~ &__trailing {
    @include marginLeft(#{calc(v('??margin') - v('??padding'))});
  }

  &__label ~ &__trailing ~ &__paddingSpacer:last-child {
    // display: none;
  }

  &__loading#{'.'}#{n('?progress--visible')} ~ * {
    opacity: v('??colorOpacity', 0);
  }

  &--icon {
    @include initByCustom('padding', #{calc(var(--sys-height) / 2)});
  }

  &--loading {
    cursor: default;
  }
}
