@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+Armenian:wght@400;500;600;700&family=Noto+Sans+Georgian:wght@400;500;600;700&family=Noto+Sans+Hebrew:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;600;700&family=Noto+Sans+Thai:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwind.css";

.sb-preview {
  border-radius: 4px;
  padding: 24px 32px;

  color: var(--st-action-bg-color-primary-solid-normal, #F36355);
  border-color: var(--st-action-bg-color-primary-solid-normal, rgb(123, 123, 123));
  background-color: #F36355;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    min-height: 64px;
  }
}
