@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+Armenian:wght@400;500;600;700&family=Noto+Sans+Georgian:wght@400;500;600;700&family=Noto+Sans+Hebrew:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;600;700&family=Noto+Sans+Thai:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

.sb-preview {
  border-radius: 4px;
  padding: 24px 32px;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    min-height: 64px;
  }
}
