@import "../../styles/all";

@mixin mixinProgressToken {
  // :style [!] System label / Системная метка
  --m2-progress-height: var(--m2-ref-spacing-1);
  --m2-progress-backgroundColor: var(--m2-sys-palette-primary);
  --m2-progress-opacity: var(--m2-sys-opacity-pressed);
  
  &--circular {
    --m2-progress-inset: var(--m2-ref-spacing-1);
    --m2-progress-width: var(--m2-ref-spacing-12);
  }
  // :style [!] System label / Системная метка
}
