@import "../../styles/all";
@import "../styles/style";

@mixin mixinButtonToken {
  // :style [!] System label / Системная метка
  --c2-button-transitionFunction: var(--d-sys-transitionFunction-standard);
  
  gap: var(--c2-st-global-distance-space-inline-xs);
  
  padding: var(--c2-st-global-distance-space-inset-lg) var(--c2-st-global-distance-space-inset-2xl);
  
  box-sizing: content-box;
  min-height: var(--c2-st-global-distance-space-inset-4xl);
  
  font-family: var(--c2-ot-typography-fontFamily-base);
  @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
  font-weight: var(--c2-ot-typography-fontWeight-500);
  @include lineHeight(#{var(--c2-ot-typography-lineHeight-125)});
  letter-spacing: var(--c2-ot-typography-tracking-lg);
  @include textCase(#{var(--c2-ot-typography-textCase-none)});
  text-decoration: var(--c2-ot-typography-textDecoration-none);
  @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
  
  @include paletteColor(#{var(--c2-st-action-foreground-color-primary-normal)});
  
  border-radius: 0;
  
  transition-duration: var(--d-sys-transitionDuration-lg-close);
  transition-property: background-color, background-image, border, box-shadow;
  
  &:link {
    & .c2-button__label {
      border-bottom: 1px dashed;
    }
  }
  
  @include focus {
    box-shadow: var(--c2-st-elevation-onLight-focus-md);
  }
  
  @include hover {
    @include paletteColor(#{var(--c2-st-action-foreground-color-primary-hover)});
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include active {
    @include paletteColor(#{var(--c2-st-action-foreground-color-primary-active)});
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include disabled {
    opacity: 0.5;
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &--selected {
    @include paletteColor(#{var(--c2-st-action-foreground-color-primary-select)});
  }
  
  &--adaptive {
    &--icon {
      @include justifyContent(#{flex-start});
      
      padding: 0;
      
      & .c2-button__label {
        display: none;
        
        @include paddingX(#{0});
      }
      
      & .c2-button__paddingSpacer {
        display: none;
      }
    }
  }
  
  &--primary {
    @include color(#{var(--c2-st-action-foreground-color-onprimary-normal)});
    
    @include paletteBackground(#{var(--c2-st-action-background-color-primary-solid-normal)});
    
    @include hover('.c2-button') {
      @include color(#{var(--c2-st-action-foreground-color-onprimary-hover)});
      
      @include paletteBackground(#{var(--c2-st-action-background-color-primary-solid-hover)});
    }
    
    @include active('.c2-button') {
      @include color(#{var(--c2-st-action-foreground-color-onprimary-active)});
      
      @include paletteBackground(#{var(--c2-st-action-background-color-primary-solid-active)});
    }
    
    &.c2-button--selected {
      @include color(#{var(--c2-st-action-foreground-color-onprimary-select)});
      
      @include paletteBackground(#{var(--c2-st-action-background-color-primary-solid-select)});
    }
    
    &.c2-palette--neutral {
      @include color(#{var(--c2-st-action-background-color-neutral-invert-normal)});
      
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-solid-normal)});
      
      @include hover('.c2-button') {
        @include color(#{var(--c2-st-action-background-color-neutral-invert-hover)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-solid-hover)});
      }
      
      @include active('.c2-button') {
        @include color(#{var(--c2-st-action-background-color-neutral-invert-active)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-solid-active)});
      }
      
      &.c2-button--selected {
        @include color(#{var(--c2-st-action-background-color-neutral-invert-select)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-solid-select)});
      }
    }
  }
  
  &--secondary {
    @include paletteBackground(#{var(--c2-st-action-background-color-primary-subtle-normal)});
    
    @include hover('.c2-button') {
      @include paletteBackground(#{var(--c2-st-action-background-color-primary-subtle-hover)});
    }
    
    @include active('.c2-button') {
      @include paletteBackground(#{var(--c2-st-action-background-color-primary-subtle-active)});
    }
    
    &.c2-button--selected {
      @include paletteBackground(#{var(--c2-st-action-background-color-primary-subtle-select)});
    }
    
    &.c2-palette--neutral {
      @include color(#{var(--c2-st-action-foreground-color-neutral-normal)});
      
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-subtle-normal)});
      
      @include hover('.c2-button') {
        @include color(#{var(--c2-st-action-foreground-color-neutral-hover)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-subtle-hover)});
      }
      
      @include active('.c2-button') {
        @include color(#{var(--c2-st-action-foreground-color-neutral-active)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-subtle-active)});
      }
      
      &.c2-button--selected {
        @include color(#{var(--c2-st-action-foreground-color-neutral-select)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-subtle-select)});
      }
    }
  }
  
  &--outline {
    --c2-button-borderStyle: solid;
    --c2-button-borderWidth: 1px;
    
    @include paletteColor(#{var(--c2-st-action-foreground-color-neutral-normal)});
    
    @include backgroundColor(#{var(--c2-st-action-background-color-neutral-invert-normal)});
    
    @include paletteBorder(#{var(--c2-st-action-border-color-neutral-subtle-normal)});
    
    &::before {
      content: ' ';
      position: absolute;
      @include inset(#{0px});
      
      border-radius: inherit;
      border: var(--c2-button-borderWidth) var(--c2-button-borderStyle);
      @include paletteBorder(#{inherit});
    }
    
    @include hover('.c2-button') {
      @include paletteColor(#{var(--c2-st-action-foreground-color-neutral-hover)});
      
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-invert-hover)});
      
      @include paletteBorder(#{var(--c2-st-action-border-color-neutral-subtle-hover)});
    }
    
    @include active('.c2-button') {
      @include paletteColor(#{var(--c2-st-action-foreground-color-neutral-active)});
      
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-invert-active)});
      
      @include paletteBorder(#{var(--c2-st-action-border-color-neutral-subtle-active)});
    }
    
    &.c2-button--selected {
      @include paletteColor(#{var(--c2-st-action-foreground-color-neutral-select)});
      
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-invert-select)});
      
      @include paletteBorder(#{var(--c2-st-action-border-color-neutral-subtle-select)});
    }
    
    &.c2-palette {
      @include paletteColor(#{var(--c2-st-action-foreground-color-primary-normal)});
      
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-normal)});
      
      @include paletteBorder(#{var(--c2-st-action-foreground-color-primary-normal)});
      
      @include hover('.c2-button') {
        @include paletteColor(#{var(--c2-st-action-foreground-color-primary-hover)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-normal)});
        
        @include paletteBorder(#{var(--c2-st-action-foreground-color-primary-hover)});
      }
      
      @include active('.c2-button') {
        @include paletteColor(#{var(--c2-st-action-foreground-color-primary-active)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-normal)});
        
        @include paletteBorder(#{var(--c2-st-action-foreground-color-primary-active)});
      }
      
      &.c2-button--selected {
        @include paletteColor(#{var(--c2-st-action-foreground-color-primary-selected)});
        
        @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-normal)});
        
        @include paletteBorder(#{var(--c2-st-action-foreground-color-primary-selected)});
      }
    }
    
    &.c2-palette--neutral {
      @include color(#{var(--c2-st-action-foreground-color-neutral-normal)});
      
      @include borderColor(#{var(--c2-st-action-foreground-color-neutral-normal)});
      
      @include hover('.c2-button') {
        @include color(#{var(--c2-st-action-foreground-color-neutral-hover)});
        
        @include borderColor(#{var(--c2-st-action-foreground-color-neutral-hover)});
      }
      
      @include active('.c2-button') {
        @include color(#{var(--c2-st-action-foreground-color-neutral-active)});
        
        @include borderColor(#{var(--c2-st-action-foreground-color-neutral-active)});
      }
      
      &.c2-button--selected {
        @include color(#{var(--c2-st-action-foreground-color-neutral-selected)});
        
        @include borderColor(#{var(--c2-st-action-foreground-color-neutral-selected)});
      }
    }
  }
  
  &--ghost {
    @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-normal)});
    
    @include focus('.c2-button') {
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-focus)});
    }
    
    @include hover('.c2-button') {
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-hover)});
    }
    
    @include active('.c2-button') {
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-active)});
    }
    
    &.c2-button--selected {
      @include backgroundColor(#{var(--c2-st-action-background-color-neutral-ghost-select)});
    }
    
    &.c2-palette--neutral {
      @include color(#{var(--c2-st-action-foreground-color-neutral-normal)});
      
      @include hover('.c2-button') {
        @include color(#{var(--c2-st-action-foreground-color-neutral-hover)});
      }
      
      @include active('.c2-button') {
        @include color(#{var(--c2-st-action-foreground-color-neutral-active)});
      }
      
      &.c2-button--selected {
        @include color(#{var(--c2-st-action-foreground-color-neutral-selected)});
      }
    }
  }
  
  &--size {
    &--x {
      padding: var(--c2-st-global-distance-space-inset-sm) var(--c2-st-global-distance-space-inset-lg);
      
      min-height: var(--c2-st-global-distance-space-inset-3xl);
      
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
      
      border-radius: var(--c2-st-selectable-borderRadius-size-xs);
    }
    
    &--xs {
      padding: var(--c2-st-global-distance-space-inset-md) var(--c2-st-global-distance-space-inset-xl);
      
      min-height: var(--c2-st-global-distance-space-inset-3xl);
      
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
      
      border-radius: var(--c2-st-selectable-borderRadius-size-sm);
    }
    
    &--sm {
      min-height: var(--c2-st-global-distance-space-inset-3xl);
      
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
      
      border-radius: var(--c2-st-selectable-borderRadius-size-sm);
    }
    
    &--md {
      border-radius: var(--c2-st-selectable-borderRadius-size-md);
    }
    
    &--lg {
      gap: var(--c2-st-global-distance-space-inline-sm);
      
      padding: var(--c2-st-global-distance-space-inset-xl) var(--c2-st-global-distance-space-inset-3xl);
      
      border-radius: var(--c2-st-selectable-borderRadius-size-lg);
    }
    
    &--xl {
      gap: var(--c2-st-global-distance-space-inline-md);
      
      padding: var(--c2-st-global-distance-space-inset-2xl) var(--c2-st-global-distance-space-inset-5xl);
      
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
      
      border-radius: var(--c2-st-selectable-borderRadius-size-xl);
    }
  }
  // :style [!] System label / Системная метка
}
